form div input[type="text"]{
    display: block;
}
form div + div{
    margin: 5px;
}
form div{
    box-shadow: -1px 1px 5px black
}

form{
    display: block;
    padding: 30px;
    border-radius: 20px;
    margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	width: 70%;
    background-color: aquamarine;
}
.shadow-card{
	box-shadow: 1px 1px 15px #111;
}
@media (hover: hover) and (pointer: fine) {
	.shadow-card:hover{
		box-shadow: 1px 1px 20px #111;
	}
}

input[type=submit]{
    background: greenyellow;
}input[type=reset]{
    background: crimson;
}